<div class="button-group my-3 d-flex justify-content-start justify-content-sm-end">

    <!-- Keep Shopping Button -->
    <a href="{% url 'products' %}" class="ib-button ib-button-grey text-decoration-none text-ib-dark font-title weight-bold shadow-sm">
        <i class="fas fa-chevron-left d-inline me-1"></i>
        <p class="d-inline">KEEP SHOPPING</p>
    </a>

    <!-- Checkout Button -->
    <a href="{% url 'checkout' %}" class="ib-button ib-button-blue text-decoration-none text-ib-light font-title weight-bold ms-2 shadow-sm">
        <p class="d-inline me-1">CHECKOUT</p>
        <i class="fas fa-lock d-inline"></i>
    </a>
</div>

