{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<!-- Hero Div - Image, Hexes & SHOP NOW button -->
<div id="home-hero">

    <!-- Hex Grid -->
    <!-- Adapted from https://jtauber.github.io/articles/css-hexagon.html -->
    <!-- Row 1 -->
    <div class="hero-hex-row">
        <div class="hex">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex even">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
    </div>
    <!-- Row 2 -->
    <div class="hero-hex-row">
        <div class="hex">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex even">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex even">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
    </div>
    <!-- Row 3 - Contains Button -->
    <div class="hero-hex-row">
        <div class="hex">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex even">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <!-- SHOP NOW button -->
        <div class="hex">
            <a href="" id="hex-hero-button">
                <div id="hex-hero-button-left" class="left"></div>
                <div id="hex-hero-button-middle" class="middle d-flex align-items-center">
                    <p class="font-title weight-bold text-center text-ib-light hex-hero-button-text">SHOP NOW!</p>
                </div>
                <div id="hex-hero-button-right" class="right"></div>
            </a>
        </div>
        <div class="hex even">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
    </div>
    <!-- Row 4 -->
    <div class="hero-hex-row">
        <div class="hex">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex even">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex even">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <div class="hex">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
    </div>       
</div>


<!-- Welcome & Intro Info div -->
<div class="container-fluid ib-container bg-blue-light text-dark-grey text-center px-3 px-md-4 py-3 py-md-5">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1 class="font-title weight-bold section-title mb-2">WELCOME TO ISLAND BEES</h1>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <p class="font-body">We cater to all your bees' needs. Everything we sell is either hand made by us or sourced locally to our base on the Isle of Anglesey. We also run regular beekeeping courses for the bee curious! And of course you can also buy our award-winning honey and other produce made by our hard-working bees (with a little help from us).</p>
        </div>
    </div>
</div>

<!-- Shop By Category div w/ category buttons -->
<div class="container-fluid ib-container bg-ib-light text-dark-grey px-3 px-md-4 py-3 py-md-5">
    <div class="row text-center">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1 class="font-title weight-bold section-title mb-2">SHOP BY CATEGORY</h1>
        </div>
    </div>

    <!-- Category Buttons -->
    <!-- Responsive Hexagon Grid: Taken from Temani Afif https://dev.to/afif/responsive-hexagon-grid-without-media-query-57g7 -->
    <div class="mt-3 pb-5 hex-categories-wrapper">
        <div class="main">
            <div class="container-hex-grid">
                <div class="py-5">
                    <a class="text-decoration-none text-yellow" href="">
                        <i class="fas fa-bug text-center w-100 category-icon-lg mt-1 mb-2"></i>
                        <p class="text-center">THE BEES</p>
                    </a>
                </div>
                <div class="py-5">
                    <a class="text-decoration-none text-yellow" href="">
                        <i class="fas fa-box text-center w-100 category-icon-lg mt-1 mb-2"></i>
                        <p class="text-center">THE KIT</p>
                    </a>
                </div>
                <div class="py-5">
                    <a class="text-decoration-none text-yellow" href="">
                        <i class="fas fa-graduation-cap text-center w-100 category-icon-lg mt-1 mb-2"></i>
                        <p class="text-center">COURSES</p>
                    </a>
                </div>
                <div class="py-5">
                    <a class="text-decoration-none text-yellow" href="">
                        <i class="fas fa-jar text-center w-100 category-icon-lg mt-1 mb-2"></i>
                        <p class="text-center">PRODUCE</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Products -->
<div class="container-fluid ib-container bg-light-grey text-dark-grey px-3 px-md-4 py-5" id="products-div">
    
    <div class="row">

        <!-- Title -->
        <div class="col-12">
            <h1 class="font-title weight-bold section-title-lrg mb-2 text-center">FEATURED PRODUCTS</h1>
        </div>
    </div>

    <!-- Product Container -->
    <div class="row mt-3">
        <div class="product-container">

            <!-- Product Cards Container -->
            <div class="row pb-4">

                <!-- Product Card -->
                {% for product in products %}
                    {% if product.is_featured %}
                        <div class="col-md-6 col-lg-4 gy-3">
                            <div class="card shadow product-card h-100">
                                <div class="card-category-label mb-1 position-absolute">
                                    <a href="" class="font-body d-flex text-blue text-decoration-none align-items-center">
                                        <div class="bg-blue category-icon-circle-sm me-1">
                                            <i class="fas fa-box-archive text-ib-light text-center"></i>
                                        </div>
                                        <p class="font-title weight-semibold section-title text-uppercase">COURSES</p>
                                    </a>
                                </div>

                                <!-- Product Image -->
                                {% if product.image %}
                                    <a class="card-image-link" href="">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                                    </a>
                                {% endif %}

                                <!-- Product Name -->
                                <div class="card-body bg-ib-white pb-2">
                                    <h5 class="text-uppercase text-center font-body weight-semibold">{{ product.name }}</h5>
                                </div>

                                <!-- Card Footer - Rating, Price & Edit/Delete -->
                                <div class="card-footer pt-0 pb-3">

                                    <div class="row">
                                        <div class="col-6 pe-0">
                                            <div class="row">

                                                <!-- Product Rating -->
                                                <div class="card-rating-div pe-0">
                                                    <span class="rating-hex-small rating-hex-{% if rating >= 1 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-{% if rating >= 2 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-{% if rating >= 3 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-{% if rating >= 4 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                    <span class="rating-hex-small me-2 rating-hex-{% if rating >= 5 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                    <p class=" d-inline font-body mt-n2 text-nowrap">0 REVIEWS</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <!-- Product EDIT / DELETE Buttons -->
                                                {% if request.user.is_superuser %}
                                                    <div class="card-edit-delete-div mt-2 gy-3">
                                                        <a href="" class="edit-del-btn edit-btn font-title text-decoration-none weight-bold align-middle me-2">EDIT</a>
                                                        <a href="" class="edit-del-btn del-btn font-title text-decoration-none weight-bold align-middle">DELETE</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-6 ps-0 mt-auto d-flex justify-content-end">
                                            
                                            <!-- Product Price -->
                                            <div class=""><p class="card-price weight-semibold">£{{ product.price }}</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- End of Product Card -->
            </div>
            <!-- End of Product Cards Container -->
        </div>  
    </div>
</div>





{% endblock %}