{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Add FAQs{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Add FAQs to the Island Bees site - Admin Only">
{% endblock %}

{% block content %}

    <div class="container-fluid bg-ib-white text-ib-dark px-md-4 pt-4 pb-5 py-md-5 font-body">
        <div class="row pb-5">

            <!-- Title Section -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
                <h1 class="font-title weight-bold section-title-lrg mb-2">ADD FAQ</h1>
                <hr>

                <!-- Faq Form -->
                <form method="POST" action="{% url 'add_faq' %}" class="form mt-4 form-as-p" id="faq-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <!-- Buttons -->
                    <div class="button-group mt-5 d-flex justify-content-end">

                        <!-- Cancel Button -->
                        <a href="{% url 'faqs' %}" class="ib-button ib-button-grey text-decoration-none text-ib-dark font-title weight-bold shadow-sm">
                            <p class="d-inline">CANCEL</p>
                        </a>
                    
                        <!-- Submit Button -->
                        <button type="submit" class="ib-button ib-button-blue text-decoration-none text-ib-light font-title weight-bold ms-2 shadow-sm">
                            ADD FAQ
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

