{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Edit FAQs {{ faq.question }}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Edit Faq {{ faq.question }} - Admin Only">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid bg-ib-white text-ib-dark px-md-4 pt-4 pb-5 py-md-5 font-body">
        <div class="row pb-5">

            <!-- Page Title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
                <h1 class="font-title weight-bold section-title-lrg mb-2">EDIT FAQ</h1>
                <hr>

                <!-- Faq Form -->
                <form method="POST" action="{% url 'edit_faq' faq.id %}" class="form mt-4" id="faq-form">
                    {% csrf_token %}

                    {{ form }}
                    

                    <!-- Buttons -->
                    <div class="button-group mt-5 d-flex justify-content-end">

                        <!-- Cancel Button -->
                        <a href="{% url 'faqs' %}" class="ib-button ib-button-grey text-decoration-none text-ib-dark font-title weight-bold shadow-sm">
                            <p class="d-inline">CANCEL</p>
                        </a>
                    
                        <!-- Submit Button -->
                        <button type="submit" class="ib-button ib-button-blue text-decoration-none text-ib-light font-title weight-bold ms-2 shadow-sm">
                            UPDATE FAQ
                        </button>
                    </div>

                </form>
            </div>
        </div>
{% endblock %}

