/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Whole Page Styling */

body,
header {
    max-width: 1400px;
    background-color: var(--mid-grey);
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}


/* Document Colours */

:root {

    /* Solid Colours */
    --dark: #140C00;
    --light: #fffefb;
    --light-grey: #EAEAEA;
    --light-grey-hov: #cccccc;
    --mid-grey: #959595;
    --dark-grey: #4D4D4D;
    --yellow: #FFCD85;
    --yellow-hov: #feb247;
    --yellow-light: #FFE7C6;
    --blue: #0f748a;
    --blue-hov: #005163;
    --blue-light: #BCE1E9;
    --warning: #B25B76;
    --warning-hov: #6b102d;
    --warning-light: #FAE5EC;
    --success: #419759;
    --success-hov: #00601b;
    --success-light: #E2F0E6;
}

/* Text Colour Classes */

.text-ib-light {
    color: var(--light);
}

.text-ib-dark {
    color: var(--dark);
}

.text-dark-grey {
    color: var(--dark-grey);
}

.text-mid-grey {
    color: var(--mid-grey);
}

.text-yellow {
    color: var(--yellow);
}

.text-blue {
    color: var(--blue);
}

.text-ib-success {
    color: var(--success);
}

.text-ib-warning {
    color: var(--warning);
}


/* Background Colour Classes */

.bg-ib-white {
    background-color: white;
}

.bg-ib-dark {
    background-color: var(--dark);
}

.bg-ib-light {
    background-color: var(--light);
}

.bg-light-grey {
    background-color: var(--light-grey);
}

.bg-mid-grey {
    background-color: var(--mid-grey);
}

.bg-dark-grey {
    background-color: var(--dark-grey);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-yellow-light {
    background-color: var(--yellow-light) !important;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-blue-light {
    background-color: var(--blue-light);
}

.bg-ib-success {
    background-color: var(--success);
}

.bg-ib-success-light {
    background-color: var(--success-light);
}

.bg-ib-warning {
    background-color: var(--warning);
}

.bg-ib-warning-light {
    background-color: var(--warning-light);
}


/* Fonts, Sizes & Weights */

.font-title {
    font-family: "Oxygen", sans-serif;
}

.font-body {
    font-family: "Source Sans 3", sans-serif;
}

.weight-light {
    font-weight: 300;
}

.weight-regular {
    font-weight: 400;
}

.weight-medium {
    font-weight: 500;
}

.weight-semibold {
    font-weight: 600;
}

.weight-bold {
    font-weight: 700;
}


/* Recurring Elements */


/* Generic Classes */

.shadow {
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.25)!important;
}

.shadow-sm {
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.35)!important;
}

.ib-lh-1 {
    line-height: 0.8;
}

.section-title {
    font-size: 24px;
}

.section-title-lrg {
    font-size: 28px;
}

.ib-container p,
.ib-container h1,
.ib-container h2,
.ib-container h3,
.ib-container h4,
.ib-container h5 {
    margin: 0;
}

hr {
    color: var(--mid-grey);
    opacity: 1;
}


/* Buttons */

button {
    border: none;
}

.ib-button {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 2px;
}

.ib-button-blue {
    background: var(--blue);
}

.ib-button-grey {
    background: var(--light-grey);
}

.ib-button-yellow {
    background: var(--yellow);
}

.ib-button-blue,
.ib-button-grey,
.ib-button-yellow {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.ib-button-blue:hover {
    background: var(--blue-hov);
}

.ib-button-grey:hover {
    background: var(--light-grey-hov);
}

.ib-button-yellow:hover {
    background: var(--yellow-hov);
}


/* Quantity Selector */

.decrement-qty.btn,
.increment-qty.btn {
    border: none;
    height: 40px;
    width: 40px;
}

.decrement-qty-sm.btn,
.increment-qty-sm.btn {
    height: 35px;
    width: 35px;
}

input.qty-input-sm {
    height: 100% !important;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:focus-visible,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: var(--blue-hov);
    color: white;
    border-color: var(--blue-hov);
}

.decrement-qty:disabled,
.increment-qty:disabled {
    background-color: var(--mid-grey) !important;
    color: var(--dark-grey);
}

.qty_input:focus,
.qty_input:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--blue) inset;
    border: none !important;
    outline: none !important;
}

/* Back To Top Button */

#btt-btn {
    width: 50px;
    height: 50px;
    background: var(--yellow);
    background-blend-mode: lighten;
    position: fixed;
    right: 12px;
    bottom: 12px;
    z-index: 9;
    display: none;
}

#btt-btn a,
.remove-item,
.update-link {
    cursor: pointer;
}

#btt-btn a i {
    font-size: 1.5em !important;

}


/* Edit / Delete Buttons */

.edit-btn {
    color: var(--success);
    border: var(--success) solid 1px;
}

.del-btn {
    color: var(--warning);
    border: var(--warning) solid 1px;
    background-color: transparent;
}

.dismiss-btn {
    color: var(--dark-grey);
    border: var(--mid-grey) solid 1px;
    background-color: transparent;
}

.edit-del-btn {
    font-size: 18px;
    padding: 0 3px;
    border-radius: 2px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.modal-close-cross {
    background-color: transparent;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.modal-close-cross span {
    font-size: 24px;
    line-height: 1;
}

.modal-header, .modal-footer {
    border: none;
}

.edit-btn:hover {
    color: var(--light);
    background-color: var(--success);
}

.del-btn:hover {
    color: var(--light);
    background-color: var(--warning);
}

.dismiss-btn:hover {
    color: var(--light);
    background-color: var(--mid-grey);
    border-color: var(--mid-grey);
}

.modal-close-cross:hover {
    color: var(--yellow)
    
}

/* Recurring Icon Styles */

.category-icon-circle,
.category-icon-circle-sm {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.category-icon-circle {
    height: 18px;
    width: 18px;
}

.category-icon-circle-sm {
    height: 14px;
    width: 14px;
}

.category-icon-circle i {
    padding: 4px;
    font-size: 10px;
}

.category-icon-circle-sm i {
    padding: 4px;
    font-size: 8px;
}


/* Forms Styling */

input.ib-form-field,
textarea.ib-form-field {
    width: 100%;
    font-size: 16px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.50) inset;
}

input.ib-form-field {
    height: 40px;
}

input.ib-form-field:focus-visible,
textarea.ib-form-field:focus-visible {
    outline: none;
    border: var(--li)
}

input,
textarea {
    border: none !important;
}

input:focus-visible,
textarea:focus-visible {
    border: var(--blue) 2px solid !important;
}

input::placeholder,
textarea::placeholder {
    color: var(--mid-grey)
}

.remove-item,
.update-link {
    font-size: 14px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.remove-item:hover {
    color: var(--warning-hov)
}

.update-link:hover {
    color: var(--success-hov)
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--dark-grey);
    box-shadow: 0px 0px 6px 0px var(--dark-grey) inset;
}


/* Upper Nav */

.logo-div *,
.logo-div-mobile * {
    margin: 0;
    padding: 0;
}

.logo-div h2 {
    font-size: 1.67rem;
}

.logo-text-mobile h2 {
    font-size: 14px;
}

.logo-div p {
    font-size: 0.8rem;
}

.logo-img {
    width: 50px;
}

.logo-img-mobile {
    width: 42px;
    margin-bottom: 5px;
}

.logo-div a {
    display: flex;
}

.ib-search-box {
    height: 42px;
    border-radius: 2px;
    background-color: var(--light);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.50) inset;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.ib-search-box input {
    border: none;
    background: none;
    padding: 5px;
    padding-left: 10px;
    flex-grow: 1;
}

.ib-search-box button {
    background-color: var(--mid-grey);
    border-radius: 0;
    width: 42px;
    border: none;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.ib-search-box button:hover {
    background-color: var(--dark-grey);
}

.ib-search-box button i {
    font-size: 20px;
    line-height: unset;
}

.ib-search-box input:focus,
.ib-search-box input:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--blue) inset;
    border: none !important;
    outline: none !important;
}

.fa-lg {
    font-size: 1.5em !important;
    line-height: 0.5em !important;
}

.upper-nav-link:hover {
    color: var(--dark);
}

.list-inline-item:not(:last-child) {
    margin-right: 0.8rem;
}

.account-dropdown {
    right: 0;
    border-radius: 3px;
    width: fit-content;
}

.icon-hex i {
    font-size: 1.1em !important;
}

.icon-hex {
    width: 20px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-grey);
}

.icon-hex:before {
    content: " ";
    width: 0; height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 9px solid var(--dark-grey);
    position: absolute;
    left: -9px;
}

.icon-hex::after {
    content: " ";
    width: 0; height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 9px solid var(--dark-grey);
    position: absolute;
    right: -9px;
}

.icon-hex,
.icon-hex:before,
.icon-hex::after,
.bag-total {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}


.hex-nav-link:hover {
    .icon-hex {
        background-color: var(--dark);
    }
    .icon-hex:before {
        border-right: 9px solid var(--dark);
    }
    .icon-hex:after {
        border-left: 9px solid var(--dark);
    }
    .bag-total {
        color: var(--dark);
    }
}




/* Lower Nav */

.lower-nav-dropdown p {
    font-size: 14px;
}

.lower-nav-link-text {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    -webkit-text-decoration-color: rgba(20, 12, 0, 0);
    text-decoration-color: rgba(20, 12, 0, 0);
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.lower-nav-link:hover {
    .lower-nav-link-text {
        -webkit-text-decoration-color: rgba(20, 12, 0, 0);
        text-decoration-color: rgba(20, 12, 0, 1);
    }
}

.dropdown-item:hover {
    background: none !important;
}

.lower-nav-link > div {
    display: flex;
    align-items: center;
}



#delivery-banner h5 {
    font-size: 18px;
    letter-spacing: 1.8px;
}


/* Footer */

.ib-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.upper-footer-section h3 {
    font-size: 18px;
}

.upper-footer-section i {
    margin-right: 5px;
}

#lower-footer-links i {
    font-size: 22px
}

.footer-link-text {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    -webkit-text-decoration-color: rgba(255, 254, 251, 0);
    text-decoration-color: rgba(255, 254, 251, 0);
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.upper-footer-section:last-of-type p {
    font-size: 14px;
}

.upper-footer-section a:hover {
    .footer-link-text {
        -webkit-text-decoration-color: rgba(255, 254, 251, 1);
        text-decoration-color: rgba(255, 254, 251, 1);
    }
}


/* Home Page */

.header-container {
    height: 157px;
}

#home-hero {
    height: 400px;
    position: relative;
    background-image: url('/media/ib-home-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

/* Home Hero Hexagon Grid & Button */
/* Adapted from https://jtauber.github.io/articles/css-hexagon.html */

:root {
    --hex-size: 1;
    --hex-pos-right: -50px;
    --hex-pos-top: -200px;
    --hex-width: 90px;
    --hex-height: 156px;
    --hex-border-side: 45px;
    --hex-border-top-bottom: 78px;
    --hex-margin-right: -39px;
    --hex-margin-bottom: -75px;
    --hex-margin-top: 79.5px;
    --hex-row-gap: 6px;
    --hex-color: rgba(255, 254, 251, 0.85);
}

.hero-hex-row {
    position: absolute;
    clear: left;
    width: 100%;
}

.hero-hex-row:nth-of-type(2) {
    top: calc(var(--hex-height) + var(--hex-row-gap));
}

.hero-hex-row:nth-of-type(3) {
    top: calc(calc(var(--hex-height) * 2) + calc(var(--hex-row-gap) * 2));
}

.hero-hex-row:nth-of-type(4) {
    top: calc(calc(var(--hex-height) * 3) + calc(var(--hex-row-gap) * 3));
}

.hex {
    position: relative;
    right: var(--hex-pos-right);
    top: var(--hex-pos-top);
    float: right;
    margin-right: calc(var(--hex-margin-right) * var(--hex-size));
    margin-bottom: calc(var(--hex-margin-bottom) * var(--hex-size));
}

.hex .left {
    float: left;
    width: 0;
    border-right: calc(var(--hex-border-side) * var(--hex-size)) solid var(--hex-color);
    border-top: calc(var(--hex-border-top-bottom) * var(--hex-size)) solid transparent;
    border-bottom: calc(var(--hex-border-top-bottom) * var(--hex-size)) solid transparent;
}

.hex .middle {
    float: left;
    width: calc(var(--hex-width) * var(--hex-size));
    height: calc(var(--hex-height) * var(--hex-size));
    background: var(--hex-color);
}

.hex .right {
    float: left;
    width: 0;
    border-left: calc(var(--hex-border-side) * var(--hex-size)) solid var(--hex-color);
    border-top: calc(var(--hex-border-top-bottom) * var(--hex-size)) solid transparent;
    border-bottom: calc(var(--hex-border-top-bottom) * var(--hex-size)) solid transparent;
}

.hex.even {
    margin-top: calc(var(--hex-margin-top) * var(--hex-size));
}

#hex-hero-button-left,
#hex-hero-button-middle,
#hex-hero-button-right {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

#hex-hero-button-left {
    border-right-color: var(--blue);
}

#hex-hero-button-middle {
    background-color: var(--blue);
}

#hex-hero-button-right {
    border-left-color: var(--blue);
}

.hex-hero-button-text {
    font-size: 22px;
    margin: 0;
}

#hex-hero-button:hover #hex-hero-button-left {
    border-right-color: var(--blue-hov);
}

#hex-hero-button:hover #hex-hero-button-middle {
    background-color: var(--blue-hov);
}

#hex-hero-button:hover #hex-hero-button-right {
    border-left-color: var(--blue-hov);
}


.hex-categories-wrapper {
    margin: 0 auto;
    width: fit-content;
}

.category-icon-lg {
    font-size: 36px;
}

.container-hex-grid p {
    font-size: 16px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-hex-grid a {
    padding: 70px 0 86px;
}

.container-hex-grid a:hover {
    background-color: var(--yellow);
    color: var(--dark-grey);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}


/* Responsive Hexagon Grid for homepage categories: Taken from Temani Afif https://dev.to/afif/responsive-hexagon-grid-without-media-query-57g7 */
.main {
    display:flex;
    width: 632px;
    --s: 150px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}
  
.container-hex-grid {
    font-size: 0; /*disable white space between inline block element */
}

.container-hex-grid div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: var(--dark-grey);
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
}
.container-hex-grid div:nth-child(odd) {
    background: var(--dark-grey);
}
.container-hex-grid::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                        #0000 0 calc(var(--f) - 3px),      
                        #000  0 var(--f));
}



/* Products Page */

.category-label {
    margin-top: 2px;
    border-radius: 2px;
    border: 1px solid var(--blue);
    padding: 3px 5px;
    width: fit-content;
}

.category-label p {
    font-size: 18px;
}

.product-count {
    font-size: 18px;
}


.box-border-deselected {
    border: 1px solid var(--dark-grey) !important;
}

.box-border-selected {
    border: 1px solid var(--blue) !important;
}

.sort-select-wrapper {
    border-radius: 3px;
    overflow: hidden;
}

#sort-selector:focus-visible {
    outline: none !important;
}

#sort-selector {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: none !important;
    background: var(--light);
}

#products-div {
    background: url('/media/hex-bg-tran.svg'), var(--light-grey) 50% / cover repeat;
}


.product-card div.card-body h5 {
    font-size: 20px;
}

.rating-hex-small {
    font-size: 20px;
    margin-right: -3px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.rating-hex-true {
    color: var(--yellow);
}

.rating-hex-false {
    color: var(--light-grey);
}

.rating-div p {
    font-size: 12px;
    text-decoration: underline !important;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    -webkit-text-decoration-color: rgba(15, 116, 138, 0) !important;
    text-decoration-color: rgba(15, 116, 138, 0) !important;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.product-rating-link:hover {
    .rating-div p {
        -webkit-text-decoration-color: rgba(15, 116, 138, 1) !important;
        text-decoration-color: rgba(15, 116, 138, 1) !important;
    }
    .rating-hex-true {
        color: var(--yellow-hov);
    }
    .rating-hex-false {
        color: var(--light-grey-hov);
    } 
}


.card-price {
    font-size: 28px;
    text-align: right;
    line-height: 1;
}

.card-footer,
.card-body {
    background-color: inherit;
    border: none;
}

.card-category-label {
    width: fit-content;
    top: 5%
}

.card-category-label p,
.product-page-category p {
    font-size: 12px;
}

.card-category-label a {
    width: fit-content;
    border-radius: 0 2px 2px 0;
    background-color:rgba(255, 255, 255, 0.95);
    padding: 5px 10px 5px 15px;
}


.card-category-label a:hover,
.product-page-category a:hover {

    background-color: var(--blue);
    color: white;

    .category-icon-circle-sm {
        background-color: white;
    } 

    .category-icon-circle-sm i {
        color: var(--blue);
    }
}

.category-icon-circle-sm i,
.category-icon-circle-sm,
.card-category-label a,
.product-page-category a {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}


/* Product Details Page */

.product-page-name,
.product-page-price {
    font-size: 24px;
}

.product-page-category a {
    width: fit-content;
    border-radius: 2px;
    padding: 0px 5px;
    border: 1px solid var(--blue);
}

.review-header {
    height: fit-content;
}

#review-div h2 {
    font-size: 24px;
}

.review-container {
    border-radius: 2px;
}

.review-title {
    font-size: 20px;
    line-height: 0.8;
}

.review-user-div,
.review-date,
.review-rating .rating-hex-small {
    line-height: 1;
}



/* Add Review Page */

.ib-form {
    margin-top: 40px;
    margin-bottom: 60px;
}

.review-form {
    overflow: hidden;
    border-radius: 5px;
}

.review-form .ib-form-header p {
    font-size: 14px;
}

.review-form .ib-form-header h1 {
    font-size: 18px;
}

.review-form .ib-form-header img {
    width: 150px;
}

.rating-hex {
    font-size: 46px;
    line-height: 1;
    margin-right: 5px;
    color: var(--light-grey);
    cursor: pointer;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.rating-hex-selected {
    color: var(--yellow);
}


/* Shopping Bag */

.bag-subtotal {
    font-size: 20px;
}

.bag-grand-total {
    font-size: 24px;
}

.bag-item-row {
    border-bottom: var(--mid-grey) solid 1px;
}


/* Toasts */

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 92px;
    right: 12px;
    z-index: 99999999999;
    margin-left: 12px;
}

.custom-toast {
    overflow: visible;
    max-width: 90vw;
    width: 350px;
}

.toast-capper {
    height: 5px;
}

.toast-close span {
    font-size: 28px;
    line-height: 0;
    vertical-align: top;
}

.toast-close {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.toast-close:hover {
    color: var(--dark);
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 42px;
}

.arrow-success {
    border-bottom-color: var(--success) !important;
}

.arrow-danger {
    border-bottom-color: var(--warning) !important;
}

.arrow-warning {
    border-bottom-color: var(--warning) !important;
}

.arrow-info {
    border-bottom-color: var(--blue) !important;
}

.bag-notification-wrapper {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-total {
    font-size: 18px;
}


/* Media Queries */

/* Large Screens Only */
@media (min-width: 992px) {

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* Medium Screens and Smaller */
@media (max-width: 991px) {

    /* Home Hero Hex Grid */
    :root {
        --hex-size: 0.8;
        --hex-pos-top: -150px;
        --hex-row-gap: -26px;
    }

    .lower-nav-link {
        padding: 0.25rem;
    }

    .lower-nav-dropdown {
        background-color: var(--yellow);
    }

    .header-container {
        height: 109px;
    }
    
    #home-hero {
        height: 290px;
    }

    .card-price {
        font-size: 24px;
    }

    /* Toasts */

    .message-container {
        top: 76px;
    }

    .arrow-up {
        right: 30px;
    }
    
}

/* S Screens Only */
@media (max-width: 767px) {
    

    /* Home Hero Hex Grid */
    :root {
        --hex-size: 0.7;
        --hex-pos-top: -120px;
        --hex-row-gap: -42px;
    }

    .hex-hero-button-text {
        font-size: 20px;
    }

    .main {
        width: 474px;
    }

    .ib-form {
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .review-form .ib-form-header h1 {
        font-size: 16px;
    }


    /* Shopping Bag */

    .bag-subtotal {
        font-size: 16px;
    }

    .bag-grand-total {
        font-size: 20px;
    }

}

/* XS Screens Only */
@media (max-width: 575px) {

    .header-container {
        height: 97px;
    }

    #delivery-banner h5 {
        font-size: 14px;
        letter-spacing: 0.9px;
    }

    #home-hero {
        height: 190px;
    }

    /* Home Hero Hex Grid */
    :root {
        --hex-size: 0.5;
        --hex-pos-right: -80px;
        --hex-pos-top: -90px;
        --hex-row-gap: -74px;
    }

    .hex-hero-button-text {
        font-size: 14px;
    }

    .section-title {
        font-size: 20px;
    }

    .section-title-lrg {
        font-size: 24px;
    }

    .main {
        width: 354px;
        --s: 110px;  /* size  */
    }

    .container-hex-grid div.py-5 {
        padding-top: 1.8rem !important;
    }


    /* Category Icons */

    .category-icon-lg {
        font-size: 30px;
    }

    .category-icon-lg + p {
        font-size: 14px;
    }

    /* Add Review Form */

    .rating-hex {
        font-size: 40px;
        line-height: 1;

    }

    .ib-form {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    /* Toasts */

    .message-container {
        top: 70px;
    }
  
}

/* Bespoke Smaller Screens Sizes */
@media (max-width: 434px) {
    .main {
        width: 316px;
        --s: 110px;
    }
}

@media (max-width: 351px) {

    .main {
        width: 250px;
        --s: 90px;
    }
    .container-hex-grid div.py-5 {
        padding-top: 1.5rem !important;
    }

    .category-icon-lg {
        font-size: 24px;
    }

    .category-icon-lg + p {
        font-size: 12px;
    }


    /* Product Details Page */

    .review-title {
        font-size: 18px;
        line-height: 1;
    }
    
    .button-group * {
        font-size: 14px;
    }
    
}


  