<!-- Lower Nav - Product Links -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <a class="font-body weight-semibold nav-link lower-nav-link" href="{% url 'home' %}">
                <p class="text-dark lower-nav-link-text">HOME</p>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-body weight-semibold nav-link lower-nav-link" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p class="text-dark lower-nav-link-text">PRODUCTS</p>
            </a>
            <div class="dropdown-menu border-0 lower-nav-dropdown bg-ib-light" aria-labelledby="products-link">
                <a class="font-body nav-link lower-nav-link dropdown-item" href="{% url 'products' %}">
                    <div>
                        <div class="category-icon-circle bg-ib-dark">
                            <i class="fas fa-shop text-ib-light text-center"></i>
                        </div>
                        <p class="text-dark ms-2 lower-nav-link-text">ALL PRODUCTS</p>
                    </div>
                </a>
                <a class="font-body nav-link lower-nav-link dropdown-item" href="{% url 'products' %}?category=the_bees">
                    <div>
                        <div class="category-icon-circle bg-ib-dark">
                            <i class="fas fa-bug text-ib-light text-center"></i>
                        </div>
                        <p class="text-dark ms-2 lower-nav-link-text">THE BEES</p>
                    </div>
                </a>
                <a class="font-body nav-link lower-nav-link dropdown-item" href="{% url 'products' %}?category=the_kit">
                    <div>
                        <div class="category-icon-circle bg-dark">
                            <i class="fas fa-box-archive text-ib-light text-center"></i>
                        </div>
                        <p class="text-dark ms-2 lower-nav-link-text">THE KIT</p>
                    </div>
                </a>
                <a class="font-body nav-link lower-nav-link dropdown-item" href="{% url 'products' %}?category=courses">
                    <div>
                        <div class="category-icon-circle bg-ib-dark">
                            <i class="fas fa-graduation-cap text-ib-light text-center"></i>
                        </div>
                        <p class="text-dark ms-2 lower-nav-link-text">COURSES</p>
                    </div>
                </a>
                <a class="font-body nav-link lower-nav-link dropdown-item" href="{% url 'products' %}?category=produce">
                    <div>
                        <div class="category-icon-circle bg-ib-dark">
                            <i class="fas fa-jar text-ib-light text-center"></i>
                        </div>
                        <p class="text-dark ms-2 lower-nav-link-text">PRODUCE</p>
                    </div>
                </a>
            </div>
        </li>

        <li class="nav-item">
            <a class="font-body weight-semibold nav-link lower-nav-link" href="#">
                <p class="text-dark lower-nav-link-text">BLOG</p>
            </a>
        </li>

    </ul>
</div>
<!-- End of Lower Nav -->