<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <a class="font-body weight-semibold nav-link lower-nav-link" href="#">
                <div>
                    <div class="lower-nav-icon-circle bg-dark">
                        <i class="fas fa-bug text-light text-center"></i>
                    </div>
                    <p class="text-dark ms-1 lower-nav-link-text">THE BEES</p>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="font-body weight-semibold nav-link lower-nav-link" href="#">
                <div>
                    <div class="lower-nav-icon-circle bg-dark">
                        <i class="fas fa-box-archive text-light text-center"></i>
                    </div>
                    <p class="text-dark ms-1 lower-nav-link-text">THE KIT</p>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="font-body weight-semibold nav-link lower-nav-link" href="#">
                <div>
                    <div class="lower-nav-icon-circle bg-dark">
                        <i class="fas fa-graduation-cap text-light text-center"></i>
                    </div>
                    <p class="text-dark ms-1 lower-nav-link-text">THE COURSES</p>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="font-body weight-semibold nav-link lower-nav-link" href="#">
                <div>
                    <div class="lower-nav-icon-circle bg-dark">
                        <i class="fas fa-jar text-light text-center"></i>
                    </div>
                    <p class="text-dark ms-1 lower-nav-link-text">THE GOOD STUFF</p>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="font-body weight-semibold nav-link lower-nav-link" href="#">
                <p class="text-dark lower-nav-link-text">ALL PRODUCTS</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="font-body weight-semibold nav-link lower-nav-link" href="#">
                <p class="text-dark lower-nav-link-text">BLOG</p>
            </a>
        </li>


    </ul>
</div>