{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block extra_title %}- {% trans "Sign In" %}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Log in to your Island Bees account.">
{% endblock %}


{% block inner_content %}

<!-- Page Title -->
<h1 class="font-title weight-bold section-title-lrg text-uppercase mb-2">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<!-- Social Accounts Log In (Not currently using)-->
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or">{% trans 'or' %}</div>
</div>
{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<!-- Intro text & link to signup -->
<p class="text-ib-dark">{% blocktrans %}Don't have an account yet?
<a href="{{ signup_url }}" class="weight-semibold text-blue text-decoration-none text-link-blue">Register here.</a>{% endblocktrans %}</p>
{% endif %}
<hr class="mt-4 mb-5 mb-sm-4">

<!-- Form -->
<form class="login" method="POST" action="{% url 'account_login' %}">
  
  {% csrf_token %}

  <!-- Form Inputs -->
  {{ form.login|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:Email or Username"|attr:"autocomplete:email" }}
  {% for error in form.login.errors  %}
    <span class="text-ib-warning weight-semibold ib-lh-2">{{error}}</span>
  {% endfor %}

  {{ form.password|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:Password"|attr:"autocomplete:current-password" }}
  {% for error in form.password.errors  %}
  <span class="text-ib-warning weight-semibold ib-lh-2">{{error}}</span>
  {% endfor %}

  <div class="d-flex align-items-end justify-content-end mt-2">
    <label class="form-check-label ib-lh-1" for="id_remember">Remember me:</label>
    {{ form.remember|add_class:"form-check-input auth-form-check-input m-0 ms-2" }}
    {% for error in form.remember.errors  %}
      <span class="text-ib-warning weight-semibold d-block mb-1">{{error}}</span>
    {% endfor %}
  </div>

  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <span class="text-ib-warning weight-semibold d-block mb-1">{{error}}</span>
    {% endfor %}
  {% endif %}

  <div class="mt-4 d-flex justify-content-end">
    <!-- Home Button -->
    <a href="{% url 'home' %}" class="ib-button ib-button-grey text-decoration-none text-ib-dark font-title weight-bold shadow-sm">
      <p class="d-inline">HOME</p>
    </a>
    <!-- Submit Button -->
    <button class="primaryAction ib-button ib-button-yellow text-decoration-none text-ib-dark font-title weight-bold shadow-sm text-uppercase float-end ms-4" type="submit">{% trans "Sign In" %}</button>
  </div>


  {% if redirect_field_value %}
  <!-- Hidden input to redirect user back to previous page -->
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <!-- Forgot Password Link -->
  <a class="button secondaryAction d-block mt-4 text-center text-blue weight-semibold text-decoration-none text-link-blue" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

{% endblock %}
