{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Sign Out" %}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Confirm sign out?">
{% endblock %}

{% block inner_content %}

<!-- Page Title -->
<h1 class="font-title weight-bold section-title-lrg text-uppercase mb-2 text-center">{% trans "Sign Out" %}</h1>

<!-- Intro text -->
<p class="text-ib-dark text-center">{% trans 'Are you sure you want to sign out?' %}</p>

<!-- Form -->
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

  <!-- Button -->
  <div class="d-flex justify-content-center">
    <button type="submit" class="ib-button ib-button-yellow text-decoration-none text-ib-dark font-title weight-bold shadow-sm text-uppercase">{% trans 'Sign Out' %}</button>
  </div>
  
</form>

{% endblock %}