{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block extra_title %}{% trans "Change Password" %}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Change the password on your Island Bees account.">
{% endblock %}

{% block inner_content %}

    <!-- Page Title -->
    <h1 class="font-title weight-bold section-title-lrg text-uppercase mb-2">{% trans "Change Password" %}</h1>

    <!-- Intro text -->
    <p class="text-ib-dark mb-4">{% trans "Fill in the form below to change your password." %}</p>

    <hr class="mt-4 mb-5 mb-sm-4">

    <!-- Form -->
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        <!-- Form Inputs -->
        {{ form.oldpassword|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:Old Password"|attr:"autocomplete:password" }}
        {% for error in form.oldpassword.errors  %}
            <span class="text-ib-warning weight-semibold d-block mb-1">{{error}}</span>
        {% endfor %}
        {{ form.password1|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:New Password"|attr:"autocomplete:new-password" }}
        {% for error in form.password1.errors  %}
            <span class="text-ib-warning weight-semibold d-block mb-1">{{error}}</span>
        {% endfor %}
        {{ form.password2|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:Repeat New Password"|attr:"autocomplete:new-password" }}
        {% for error in form.password2.errors  %}
            <span class="text-ib-warning weight-semibold d-block mb-1">{{error}}</span>
        {% endfor %}

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <span class="text-ib-warning weight-semibold d-block mb-1">{{error}}</span>
            {% endfor %}
        {% endif %}
    
        <div class="button-group mt-4 d-flex justify-content-end">
            <!-- Back To Profile -->
            <a href="{% url 'profile' %}" class="ib-button ib-button-grey text-decoration-none text-ib-dark font-title weight-bold shadow-sm">
                <i class="fas fa-chevron-left d-inline me-1"></i>
                <p class="d-inline">BACK TO PROFILE</p>
            </a>
            <!-- Submit Button -->
            <button name="action" class="ib-button ib-button-yellow text-decoration-none text-ib-dark font-title weight-bold shadow-sm text-uppercase float-end ms-3" type="submit" value="{% trans 'Change Password' %}">{% trans "Submit" %}</button>
        </div>

    </form>
{% endblock %}
