{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block extra_title %}{% trans "Set Password" %}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Reset your Island Bees account password.">
{% endblock %}

{% block inner_content %}

    <!-- Page Title -->
    <h1 class="font-title weight-bold section-title-lrg text-uppercase mb-2">{% trans "Set Password" %}</h1>

    <!-- Intro text -->
    <p class="text-ib-dark mb-4">{% trans "Fill in the form below to set a password." %}</p>

    <hr class="mt-4 mb-5 mb-sm-4">

    <!-- Form -->
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}

        <!-- Form Inputs -->
        {{ form.password|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:New Password"|attr:"autocomplete:new-password" }}
        {% for error in form.password.errors  %}
            <span class="text-ib-warning weight-semibold d-block mb-1">{{error}}</span>
        {% endfor %}

        <div class="button-group mt-4 d-flex justify-content-end">
            <!-- Home Button -->
            <a href="{% url 'view_bag' %}" class="ib-button ib-button-grey text-decoration-none text-ib-dark font-title weight-bold shadow-sm">
              <p class="d-inline">HOME</p>
            </a>
            <!-- Submit Button -->
            <button name="action" class="ib-button ib-button-yellow text-decoration-none text-ib-dark font-title weight-bold shadow-sm text-uppercase float-end ms-3" type="submit" value="{% trans 'Set Password' %}">{% trans "Submit" %}</button>
        </div>

        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
