{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block extra_title %}{% trans "Signup" %}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Register for an Island Bees account.">
{% endblock %}

{% block inner_content %}

<!-- Page Title -->
<h1 class="font-title weight-bold section-title-lrg text-uppercase mb-2">{% trans "Sign Up" %}</h1>

<!-- Intro text & link to sign in -->
<p class="text-ib-dark">{% blocktrans %}Already have an account? Then please 
  <a href="{{ login_url }}" class="weight-semibold text-blue text-decoration-none text-link-blue">sign in</a>.{% endblocktrans %}
</p>
<hr class="mt-4 mb-5 mb-sm-4">

<!-- Form -->
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <!-- Form Inputs -->
  {{ form.email|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:Email"|attr:"autocomplete:email"|attr:"autofocus" }}
  {{ form.email2|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:Repeat Email"|attr:"autocomplete:email" }}
  {{ form.username|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:Username"|attr:"autocomplete:username"|remove_attr:"autofocus" }}
  {{ form.password1|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:Password"|attr:"autocomplete:new-password" }}
  {{ form.password2|add_class:"ib-form-field mb-3 px-2 py-2 font-body text-dark-grey"|attr:"aria-label:Repeat Password"|attr:"autocomplete:new-password" }}

  <div class="button-group mt-4 d-flex justify-content-end">
    <!-- Home Button -->
    <a href="{% url 'view_bag' %}" class="ib-button ib-button-grey text-decoration-none text-ib-dark font-title weight-bold shadow-sm">
      <p class="d-inline">HOME</p>
    </a>
    <!-- Submit Button -->
    <button class="primaryAction ib-button ib-button-yellow text-decoration-none text-ib-dark font-title weight-bold shadow-sm text-uppercase float-end ms-3" type="submit">{% trans "Sign Up" %}</button>
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

</form>

{% endblock %}
