{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Verify your Island Bees account email.">
{% endblock %}

{% block inner_content %}
<h1 class="font-title weight-bold section-title-lrg text-uppercase mb-2">{% trans "Verify Your E-mail Address" %}</h1>

{% url 'account_email' as email_url %}

<p class="text-ib-dark">{% blocktrans %}This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your e-mail address. {% endblocktrans %}</p>

<p class="text-ib-dark">{% blocktrans %}We have sent an e-mail to you for
verification. Please click on the link inside this e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

<p class="text-ib-dark">{% blocktrans %}Note: you can still <a href="{{ email_url }}" class="weight-semibold text-blue text-decoration-none text-link-blue">change your e-mail address</a>.{% endblocktrans %}</p>


{% endblock %}
