{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Add a Product{% endblock %}

{% block extra_meta %}
    <meta name="description" content="Add a new product to the Island Bees Website - Admin Only">
{% endblock %}

{% block content %}

    <div class="container-fluid bg-ib-white text-ib-dark px-md-4 pt-4 pb-5 py-md-5 font-body">
        <div class="row pb-5">

            <!-- Page Title -->
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
                <h1 class="font-title weight-bold section-title-lrg mb-2">ADD PRODUCT</h1>
                <hr>

                <!-- Product Form -->
                <form method="POST" action="{% url 'add_product' %}" class="form mt-3" id="product-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <!-- Category -->
                    {{ form.category.label_tag }}
                    {{ form.category }}
                    {% for error in form.category.errors  %}
                        <span class="text-ib-warning weight-semibold ib-lh-2">{{error}}</span>
                    {% endfor %}

                    <!-- Name -->
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {% for error in form.name.errors  %}
                        <span class="text-ib-warning weight-semibold ib-lh-2">{{error}}</span>
                    {% endfor %}

                    <!-- Description -->
                    {{ form.description.label_tag }}
                    {{ form.description }}
                    {% for error in form.description.errors  %}
                        <span class="text-ib-warning weight-semibold ib-lh-2">{{error}}</span>
                    {% endfor %}

                    <!-- Price -->
                    {{ form.price.label_tag }}
                    {{ form.price }}
                    {% for error in form.price.errors  %}
                        <span class="text-ib-warning weight-semibold ib-lh-2">{{error}}</span>
                    {% endfor %}

                    <!-- Is Featured? -->
                    <span class="d-flex mt-4">
                        {{ form.is_featured }}
                        <span class="ms-3 checkbox-label d-flex align-items-end">{{ form.is_featured.label_tag }}</span>
                    </span>
                    {% for error in form.is_featured.errors  %}
                        <span class="text-ib-warning weight-semibold ib-lh-2">{{error}}</span>
                    {% endfor %}

                    <!-- Delivery Charge? -->
                    <span class="d-flex mt-4 mb-2">
                        {{ form.delivery_charge }}
                        <span class="ms-3 checkbox-label d-flex align-items-end">{{ form.delivery_charge.label_tag }}</span>
                    </span>
                    {% for error in form.delivery_charge.errors  %}
                        <span class="text-ib-warning weight-semibold ib-lh-2">{{error}}</span>
                    {% endfor %}

                    <!-- Image Selection -->
                    <div class="mt-4 mb-2">
                        <p class="p-label-replace d-inline">Product Image:</p>
                        <em class="d-inline ms-2">Images should ideally be in a 16:9 aspect ratio</em>
                        {{ form.image }}
                    </div>
                    
                    <!-- Discontinue? -->
                    <hr class="mt-5 mb-2">
                    <span class="d-flex mt-3 mb-2 text-ib-warning">
                        {{ form.discontinued }}
                        <span class="ms-3 checkbox-label d-flex align-items-end">{{ form.discontinued.label_tag }}</span>
                    </span>
                    <em>Selecting this will mean the product does not appear on the site. It will only be accessible in the admin panel.</em>
                    {% for error in form.discontinued.errors  %}
                        <span class="text-ib-warning weight-semibold ib-lh-2">{{error}}</span>
                    {% endfor %}

                    <!-- General Form Errors -->
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <span class="text-ib-warning weight-semibold d-block mb-1">{{error}}</span>
                        {% endfor %}
                    {% endif %}

                    <!-- Buttons -->
                    <div class="mt-5 d-flex justify-content-end">

                        <!-- Cancel Button -->
                        <a href="{% url 'products' %}" class="ib-button ib-button-grey text-decoration-none text-ib-dark font-title weight-bold shadow-sm">
                            <p class="d-inline">CANCEL</p>
                        </a>
                    
                        <!-- Submit Button -->
                        <button type="submit" class="ib-button ib-button-blue text-decoration-none text-ib-light font-title weight-bold ms-3 shadow-sm">
                            ADD PRODUCT
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js_end %}
    <!-- Display Image Filename Message -->
    <script src="{% static 'products/js/form-image.js' %}"></script>
{% endblock %}