{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<!-- Products Page Content -->
<div class="container-fluid ib-container bg-light-grey text-dark-grey px-3 px-md-4 py-3 py-md-5" id="products-div">
    
    <div class="row">

        <!-- Title -->
        <div class="col-12">
            <h1 class="font-title weight-bold section-title-lrg mb-2 text-center">PRODUCTS</h1>
        </div>

        <!-- Category Name ----------------------------------------------------- WILL NEED TO BE DYNAMIC -->
        <div class="col">
            <div class="category-label font-body d-flex text-blue text-decoration-none mx-auto">
                <div class="bg-blue category-icon-circle me-2">
                    <i class="fas fa-box-archive text-ib-light text-center"></i>
                </div>
                <p class="font-title weight-semibold section-title text-uppercase lh-1">COURSES</p>
            </div>
        </div>
    </div>

    <!-- Product Container -->
    <div class="row">
        <div class="product-container">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50 box-border-{% if current_sorting != 'None_None' %}deselected{% else %}selected{% endif %}">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 ">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 gy-3 align-self-stretch">
                        <!-- Product Card -->
                        <div class="card shadow product-card h-100">

                            <div class="card-category-label mb-1 position-absolute">
                                <a href="" class="font-body d-flex text-blue text-decoration-none align-items-center">
                                    <div class="bg-blue category-icon-circle-sm me-1">
                                        <i class="fas fa-box-archive text-ib-light text-center"></i>
                                    </div>
                                    <p class="font-title weight-semibold section-title text-uppercase">COURSES</p>
                                </a>
                            </div>

                            <!-- Product Image -->
                            {% if product.image %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                                </a>
                            {% endif %}

                            <div class="card-body bg-ib-white pb-2">

                                <!-- Product Name -->
                                <h5 class="text-uppercase text-center font-body weight-semibold">{{ product.name }}</h5>

                            </div>

                            <div class="card-footer pt-0">

                                <div class="row">
                                    <div class="col-6 pe-0">
                                        <div class="row">
                                            <!-- Product Rating --------------------------------------------------------------------- WILL NEED TO BE DYNAMIC -->
                                            {% if rating and rating > 0 %}
                                            <div class="card-rating-div pe-0">
                                                <span class="rating-hex-small rating-hex-{% if rating >= 1 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                <span class="rating-hex-small rating-hex-{% if rating >= 2 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                <span class="rating-hex-small rating-hex-{% if rating >= 3 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                <span class="rating-hex-small rating-hex-{% if rating >= 4 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                <span class="rating-hex-small me-2 rating-hex-{% if rating >= 5 %}true{% else %}false{% endif %}">&#x2B22;</span>
                                                <p class=" d-inline font-body mt-n2 text-nowrap">14 REVIEWS</p>
                                            </div>
                                            {% else %}
                                                <div class="">
                                                    <span class="rating-hex-small rating-hex-false">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-false">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-false">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-false">&#x2B22;</span>
                                                    <span class="rating-hex-small rating-hex-false">&#x2B22;</span>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="row">
                                            <!-- Product EDIT / DELETE Buttons -->
                                            {% if request.user.is_superuser %}
                                                <div class="card-edit-delete-div mt-3">
                                                    <a href="" class="edit-del-btn edit-btn font-title text-decoration-none weight-bold align-middle me-3">EDIT</a>
                                                    <a href="" class="edit-del-btn del-btn font-title text-decoration-none weight-bold align-middle">DELETE</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-6 ps-0 mt-auto">
                                        
                                        <!-- Product Price -->
                                    <div class=""><p class="card-price weight-semibold">£{{ product.price }}</p></div>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    


                                </div>
                                    
                                <div class="d-flex mt-2 justify-content-end">

                                    

                                    
                                    
                                </div>
                            </div>
                                

                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="review-div"></div>
</div>





{% endblock %}