<!-- Success Toast -->
<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">

    <!-- Colour Band & Arrow -->
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-ib-success"></div>

    <!-- Message -->
    <div class="toast-header bg-ib-light text-ib-dark border-0 justify-content-between align-items-start">
        <div class="">
            <p class="me-auto my-auto weight-bold font-title">SUCCESS!</p>
            <div class="font-body mt-1 text-break">
                {{ message }}
            </div>
        </div>

        <!-- Close Button -->
        <button type="button" class="ml-2 mb-1 close toast-close bg-ib-light text-dark-grey float-end" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Colour Band -->
    <div class="w-100 toast-capper bg-ib-success"></div>


    {% if grand_total and request.session.show_bag_summary and "accounts" not in request.META.HTTP_REFERER %}

    <!-- Shopping Bag Summary -->
    <div class="toast-body bg-ib-light text-ib-dark font-body p-0">
        
            <p class="font-title weight-bold pt-3 px-3">YOUR BAG ({{ product_count }})</p>
            <div class="bag-notification-wrapper mb-2 px-3">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-4">
                            {% if item.product.image %}
                                <img class="image-ratio w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}no_image.jpg'">
                            {% else %}
                                <img class="image-ratio img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-8 font-body">
                            <p class="my-0 text-uppercase weight-semibold small-text">{{ item.product.name }}</p>
                            <p class="my-0">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                    <div class="row"><div class="col"><hr class="my-3"></div></div>
                {% endfor %}
            </div>



            <!-- Total -->
            <div class="px-3">
                <p class="d-inline mt-auto">TOTAL{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: </p>
                <p class="d-inline weight-semibold ms-1 toast-total">£{{ total|floatformat:2 }}</p>
            </div>

            {% if free_delivery_delta > 0 %}
            <!-- Delivery Delta Banner -->
            <div class="text-center bg-yellow-light mt-3 mb-3 px-3 py-1">
                    <p class="weight-regular m-0">
                        Spend <span class="weight-bold">£{{ free_delivery_delta }}</span> more to get free next day delivery!
                    </p>
            </div>
            {% endif %}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 pb-3">
                        {% if on_bag_page %}
                            <!-- Checkout Button - if already on bag page -->
                            <a href="{% url 'checkout' %}" class="ib-button ib-button-blue text-decoration-none text-ib-light font-title weight-bold me-2 shadow-sm float-end">
                                <p class="d-inline me-1">CHECKOUT</p>
                                <i class="fas fa-lock d-inline"></i>
                            </a>
                        {% else %}
                            <!-- View Bag Button - if not already on bag page -->
                            <a href="{% url 'view_bag' %}" class="ib-button ib-button-blue text-decoration-none text-ib-light font-title weight-bold me-2 shadow-sm float-end">
                                <p class="d-inline me-1">VIEW BAG</p>
                                <i class="fas fa-lock d-inline"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>

            </div>

    </div>
    {% endif %}

</div>